build/
build-*/
subprojects/*/
!subprojects/*.wrap
.meson-cache/
*.bat

*.o
*.obj
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.pdb
*.ilk
*.exp

.ninja_deps
.ninja_log
build.ninja

*.pch
*.gch
compile_commands.json
.cache/
*.profraw
*.profdata

.vs/
.vscode/
*.user
*.suo
*.sln.docstates
.idea/
*.iml
.clangd/
.ccls-cache/
.cache/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
*~
